transformers
torch==2.6.0
langchain==0.3.25
python_dotenv==1.0.1
openai==1.61.0
# huggingface_hub==0.28.1
# ollama==0.4.7
langchain-deepseek
openpyxl
pandas
langchain_community
langchain_huggingface
protobuf
sentencepiece
beautifulsoup4==4.12.3
selenium==4.29.0